.rating-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.average-rating {
  flex: 0 100px;
  font-size: xxx-large;
  font-weight: bold;
}

.star-ratings {
  flex: 0 90px;
}
