.rating {
  align-items: center;
  display: flex;
}

progress {
  -webkit-appearance: none;
  height: 10px;
  width: 215px;
}

::-webkit-progress-bar {
  background-color: #ebebeb;
}

::-webkit-progress-value {
  background-color: #84a98c;
}