.reviews-header {
  display: flex;
  justify-content: center;
}

.reviews-header p {
  width: 1015px
}

.reviews-body {
  display: flex;
  justify-content: center;
}

.reviews-breakdown {
  width: 340px;
  padding: 0 65px 0 0;
}

.reviews-list {
  width: 675px;
  padding: 0;
}

/* TODO: 1335px height before scroll */