.reviews.header {
  display: flex;
  justify-content: center;
}

.reviews p {
  width: 1015px
}

.reviews.row {
  display: flex;
  justify-content: center;
}

.reviews.column.left {
  width: 340px;
  padding: 0 65px 0 0;
}

.reviews.column.right {
  width: 675px;
  padding: 0;
}

/* TODO: 1335px height before scroll */