.star-ratings {
  font-size: small;
}

.stars-empty {
  display: inline-block;
  position: relative;
}

.stars-empty::before {
  color: #d3ced2;
  content: attr(data-content);
}

.stars-filled {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 0;
}

.stars-filled::before {
  color: #eabe12;
  content: attr(data-content)
}
