thead tr{
  position: sticky;
  top: 0;
  background-color:white;
}

Modal.Body {
  padding-top: 0;
  overflow:scroll;
  height:400px;
}

.list {
  color: gray;
  margin-left: 2%;
  margin-top:5%;
  font-size:20px;
}

.description {
  font-weight:bold;
}

.image-item {
  margin-left: 1%;
  margin-Right: 1%;
}

.image-holder {
  height:300px;
  display: block;
  background-color: lightgray;
}

.originalPrice {
  margin-bottom: 5px;
  color:gray;
  font-size:12px;
}
.salePrice {
  font-size: 12px;
  color: red;
  display: inline;
  margin-bottom: 5px;
}

.crossOutOriginalPrice {
  text-decoration: line-through;
  color: gray;
  font-size:12px;
  display: inline;
  margin-bottom: 5px;
}

.card-subtitle {
  font-size: 12px;
}

.card-title {
  font-size: 15px;
}

.iconTop {
  display: block;
  float: right;
  z-index: 3;
  position: absolute; /*newly added*/
  right: 5px; /*newly added*/
  top: 5px;/*newly added*/
}
.iconTop:hover {
  color: yellow;
}

.card-image {
  height:100%;
  width:100%;
}

.exceptOverview {
  margin-left: 10%;
  margin-right: 10%;
}

.card-body {
  display: block;
  height: 130px;
}

.card {
  border:line;
  border-color: black;
  height: 430px;
  z-index: 1;
}